name: Windows10_21H2_amd64_Cumulative_Update

#on: workflow_dispatch
on: [push, pull_request]

env:
  Build_VERSION: '19044.6693'
  FILE_NAME: Windows10_21H2_amd64_Cumulative_Update

jobs:
  Windows10_21H2_amd64_Cumulative_Update:
    runs-on: windows-latest

    steps:

    # 检出本仓库
    - name: Checkout repository
      uses: actions/checkout@v5

    # 制作ISO
    - name: UUP dump WinISO
      shell: cmd
      run: |
        cd ${{env.FILE_NAME}}
        dir
        uup_download_windows.cmd

    # 查看目录
    - name: dir dir
      shell: cmd
      run: |
        cd ${{env.FILE_NAME}}
        dir

    # 打包
    - name: Package binaries
      run: |
        #ls     #Directory: D:\a\UUPdumpWinISO\UUPdumpWinISO(即仓库目录)
        7z a -v1950M ${{env.FILE_NAME}}-${{env.Build_VERSION}}.7z ./${{env.FILE_NAME}}/*.iso -mx=9

    # 上传镜像
    - uses: actions/upload-artifact@v4
      with:
        name: ${{env.FILE_NAME}}-${{env.Build_VERSION}}
        path: ${{env.FILE_NAME}}-${{env.Build_VERSION}}.7z*

    # 发布镜像
    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{env.FILE_NAME}}-${{env.Build_VERSION}}
        release_name: ${{env.FILE_NAME}}-${{env.Build_VERSION}}
        files: ${{env.FILE_NAME}}-${{env.Build_VERSION}}.7z*
